name: Continuous Deployment

# Trigger the CD pipeline only when pushing to the main branch
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Deploy
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.9'
      - name: Build
        run: bash ./scripts/build.sh
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest
      - name: Terraform Init
        run: terraform -chdir=deployments/terraform init
      - name: Terraform Apply
        run: terraform -chdir=deployments/terraform apply --auto-approve=true
